
*.png
*.pyc
Stanford_cs231n/assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_2
Stanford_cs231n/assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_3
Stanford_cs231n/.DS_Store
Stanford_cs231n/_config.yml
Stanford_cs231n/assignment/assignment1/cs231n/.DS_Store
Stanford_cs231n/assignment/assignment1/cs231n/datasets/.DS_Store
Stanford_cs231n/assignment/assignment1/cs231n/datasets/cifar-10-batches-py/batches.meta
Stanford_cs231n/assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_1
Stanford_cs231n/assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_5
.DS_Store
